@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300;400;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 60, 60);
    font-family: 'Roboto', sans-serif;
    color: rgb(216, 216, 216);
}

.container {
    padding: 30px 20px;
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
    background-color: rgb(73, 80, 95);
}


.name-job {
    padding: 5px;
    text-align: center;
    min-width: 250px;
}

.name-job .name {
    font-size: 30px;
    font-weight: bold;
}

.name-job .job {
    margin-top: 10px;
    font-size: 20px;
}

.contact {
    width: calc(100% - 260px);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}


@media only screen and (max-width: 500px) {
    .name-job {
        width: 100%;
    }

    .contact {
        margin-top: 20px;
        width: 100%;
    }
}


.contact-section {
    text-align: right;
}

a {
    color: rgb(179, 186, 206);
}

.section {
    padding: 10px;
}

.section-header {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 5px solid rgb(73, 80, 95);
}

.section-body {
    margin-top: 20px;
    line-height: 25px;
}

.company-date {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.company-date .company {
    font-size: 20px;
    font-weight: bold;
}

.company-date .date {
    font-size: 18px;
}

.position {
    font-size: 18px;
}

li {
    margin-top: 20px;
}

.skills {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: auto;
}

.skills li {
    margin-top: 0px;
}