@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 60, 60);
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile {
    height: 220px;
    width: 120px;
    margin-bottom: 10px;
    border: solid;
    border-radius: 15px;
    border-top-width: 20px;
    border-bottom-width: 15px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px, rgba(0, 0, 0, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
}

.mobile:hover {
    background-color: rgb(30, 30, 30);
    animation: 0.2s infinite alternate vibrate;
}

.mobile:hover .screen .notification {
    height: 38px;
    transition: all ease-in-out 0.2s;
}

.mobile:hover .screen .notification .icon {
    opacity: 1;
    transition: all ease-in 0.2s;
}

.mobile:hover .screen .notification .text {
    opacity: 1;
    transition: all ease-in 0.2s;
}

.mobile:hover .screen .actions {
    opacity: 1;
    transition: all ease-in 0.2s;
}

@keyframes vibrate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}

@keyframes pilot-blink {
    0% {
        color: #4d62ff;
    }

    100% {
        color: white;
        text-shadow: 0 0 20px #fff, 0 0 20px #4d62ff, 0 0 30px #4d62ff, 0 0 40px #4d62ff, 0 0 50px #4d62ff, 0 0 60px #4d62ff, 0 0 70px #4d62ff;
    }
}

.mobile .pilot {
    color: #4d62ff;
    font-size: 40px;
    float: left;
    width: 0;
    position: relative;
    top: -40px;
    left: 55px;
    animation: 2s infinite alternate pilot-blink;
}

.mobile .screen {
    width: 100%;
    height: 100%;
}

.mobile .screen .notification {
    margin: 5px;
    border-radius: 10px;
    width: 110px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 0px;
}

.mobile .screen .notification .icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    opacity: 0;
}

.mobile .screen .notification .text {
    font-size: 10px;
    font-weight: bold;
    opacity: 0;
}

.mobile .screen .actions {
    display: flex;
    position: relative;
    top: 60%;
    justify-content: center;
    gap: 30px;
    opacity: 0;
}

.mobile .screen .actions .accept {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(76, 203, 22);
    color: white;
    text-align: center;
}

.mobile .screen .actions .accept a {
    text-decoration: none;
    color: white;
}

.mobile .screen .actions .decline {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(203, 22, 22);
    color: white;
    text-align: center;
}

.mobile .screen .actions .material-icons {
    line-height: 35px;
}

.intro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-section .title {
    font-family: 'Koulen', cursive;
    color: rgb(232, 232, 232);
    font-size: 55px;
    word-wrap: break-word;
    text-align: center;
    padding: 5px;
}

.intro-section .subtitle {
    font-size: 25px;
    word-wrap: break-word;
    text-align: center;
    padding: 5px;
    color: rgb(232, 232, 232);
}

.intro-section .body {
    text-align: center;
    max-width: 80%;
    margin: auto;
    padding: 20px 5px;
    color: rgb(232, 232, 232);
    font-size: 18px;
    line-height: 30px;
}

.intro-section img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: block;
}

.contact-title {
    font-family: 'Koulen', cursive;
    color: rgb(232, 232, 232);
    font-size: 35px;
    word-wrap: break-word;
    text-align: center;
    padding: 5px;
}