@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 60, 60);
    font-family: 'Roboto', sans-serif;
}

.title {
    padding-top: 40px;
    text-align: center;
    font-family: 'Koulen', cursive;
    letter-spacing: 10px;
    color: rgb(232, 232, 232);
    font-size: 55px;
}

.screen {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 10px;
    color: rgb(94, 169, 103);
    padding: 40px 10px;
    background-color: black;
    width: 80%;
    max-width: 800px;
    margin: auto;
    border-radius: 20px;
    height: 200px;
    border: 15px solid rgb(183, 183, 183);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timer {
    width: 100%;
    border: 1px solid rgb(94, 169, 103);
    height: 10px;
    margin-top: 10px;
}

#timer-progress {
    background-color: rgb(94, 169, 103);
    height: 10px;
    width: 0%;
}

#work {
    font-family: 'Koulen', cursive;
    font-size: 30px;
}

#place {
    font-family: 'Koulen', cursive;
    margin-top: 10px;
    font-size: 20px;
}


@media only screen and (max-width: 620px) {
    .keyboard {
        display: none;
    }

    .keyboard-mini {
        display: grid;
    }

    .title {
        padding-top: 10px;
        font-size: 45px;
    }

    #work {
        font-size: 20px;
    }

    #place {
        font-size: 14px;
    }
}

@media only screen and (min-width: 620px) {
    .keyboard {
        display: grid;
    }

    .keyboard-mini {
        display: none;
    }
}

.keyboard {
    width: 620px;
    margin: auto;
    margin-top: 30px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 5px;
    padding: 10px;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.keyboard-mini {
    margin: auto;
    margin-top: 30px;
    width: 200px;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    padding: 10px;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
}


.key {
    cursor: pointer;
    background-color: rgb(228 228 228);
    font-size: 10px;
    height: 34px;
    min-width: 34px;
    line-height: 32px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.key.pulse {
    transform: scale(0.9);
    background-color: rgba(144, 200, 206, 0.5) !important;
    transition: all ease-in-out 0.1s;
}

.key.double {
    line-height: 15px;
}

.key.backspace {
    grid-column: 14 / span 2;
}

.key.enter {
    grid-column: 14 / span 2;
}

.key.enter-mini {
    grid-column: 2 / span 2;
}

.key.shift {
    grid-column: 13 / span 2;
}

.key.tab {
    grid-column: 1 / span 2;
}

.key.space {
    grid-column: 4 / span 6;
}

.key.caps {
    grid-column: 1 / span 2;
}

.key.may {
    grid-column: 1 / span 2;
}

.key.green {
    background-color: rgb(129 163 129);
}

.key.gray {
    background-color: rgb(176 169 161)
}