.experience-container {
  padding: 60px 2%;
}

.experience-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.experience-item {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem;
  gap: 2rem;
  border-radius: 10px;
  max-width: 480px;
}

.experience-item.dark {
  background-color: #383838;
}

.experience-item.light {
  background-color: #e8e6de;
}

.experience-item.light img {
  filter: brightness(0%);
}

.experience-item.dark img {
  filter: brightness(200%);
}

.experience-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.experience-technology-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.experience-technology {
  padding: 1px 5px;
}

.experience-technology.light {
  color: #f9f7ee;
  background-color: #214155;
}

.experience-technology.dark {
  color: #222222;
  background-color: #caebff;
}
