.contact-container {
  padding: 60px 2%;
}

.contact-circle {
  border-radius: 50%;
  aspect-ratio: 1/1;
  max-width: 400px;
  display: flex;
  justify-content: space-around;
}

.contact-circle.light {
  background-color: #e8e6de;
  color: #222222;
}

.contact-circle.dark {
  background-color: #383838;
  color: #f9f7ee;
}

.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-item p {
  margin: 0;
}

.contact-circle.light .contact-item a {
  color: #222222;
  text-decoration: none;
}

.contact-circle.dark .contact-item a {
  color: #f9f7ee;
  text-decoration: none;
}
