.Home-Container {
    display: flex;
    height: calc(100vh - 100px);
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    padding-top: 100px;
    overflow: hidden;
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 1) 60%, rgba(198, 230, 255, 1) 100%);*/
}

.Home-Title {
    font-size: 50px;
    font-family: 'Shadows Into Light', cursive;
    margin: 5px;
    transform: scale(0);
    animation: scaleUp 0.5s ease-in 0s forwards;
}

.Home-Subtitle {
    font-size: 30px;
    margin: 10px 0;
    font-weight: 100;
    transform: scale(0);
    animation: scaleUp 0.5s ease-in 2s forwards;
}

@keyframes scaleUp {
    to {
        transform: scale(1);
    }
}

.Home-Title-Container {
    padding: 15px;
}

.Align-Right {
    text-align: right;
}

.Home-Shortcuts a {
    display: block;
}

.Home-Blue {
    color: #0a66c2;
}

.Home-Red {
    color: #d93025;
}

.Home-Shortcuts {
    display: flex;
    margin-top: 20px;
    position: relative;
    right: -1000px;
    animation: setRightPositionZero 1s ease-in 0s forwards;
}

@keyframes setRightPositionZero {
    to {
        right: 0;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .Home-Title {
        font-size: 60px;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .Home-Title {
        font-size: 70px;
    }

    .Home-Subtitle {
        font-size: 40px;
    }

    .Home-Container {
        justify-content: space-around;
        flex-direction: row;
        background: rgb(255, 255, 255);
        /*background: linear-gradient(90deg, rgba(255, 255, 255, 1) 75%, rgba(198, 230, 255, 1) 100%);*/
    }

    .Home-Shortcuts {
        flex-direction: column;
        margin-top: 0;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .Home-Title {
        font-size: 80px;
    }

    .Home-Subtitle {
        font-size: 50px;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .Home-Title {
        font-size: 90px;
    }

    .Home-Subtitle {
        font-size: 60px;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .Home-Title {
        font-size: 120px;
    }

    .Home-Subtitle {
        font-size: 70px;
    }
}