@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto:wght@300&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 60, 60);
    font-family: 'Roboto', sans-serif;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-family: 'Koulen', cursive;
    letter-spacing: 10px;
    color: rgb(232, 232, 232);
    font-size: 70px;
}

.subtitle {
    text-align: center;
    font-family: 'Koulen', cursive;
    letter-spacing: 10px;
    color: rgb(232, 232, 232);
    font-size: 30px;
    margin-bottom: 70px;
}

.router {
    width: 250px;
    height: 200px;
    margin: auto;
    background-color: rgb(224, 221, 221);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 5px 15px 11px #242424;
}

.router .router-foot {
    width: 200px;
    height: 15px;
    background-color: rgb(224, 221, 221);
    position: relative;
    top: 90%;
    margin: auto;
    box-shadow: 0px -3px 14px 8px #484848;
}

.router .router-lights {
    width: 200px;
    height: 10px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}

@keyframes change-color {
    0% {
        background-color: rgb(90, 100, 246);
    }

    100% {
        background-color: rgb(114, 223, 102);
    }
}

.router .router-lights .light {
    width: 4px;
    height: 4px;
    margin-left: 4px;
    margin-top: 3px;
    border-radius: 50%;
    background-color: rgb(90, 100, 246);
}

.router .router-lights .light-1 {
    animation: 3s infinite alternate 0s change-color;
}

.router .router-lights .light-2 {
    animation: 3s infinite alternate 3.4s change-color;
}

.router .router-lights .light-3 {
    animation: 3s infinite alternate 0.3s change-color;
}

.router .router-lights .light-4 {
    animation: 3s infinite alternate 2.6s change-color;
}

.wifi-signal {
    padding: 40px 0px;
    margin: auto;
    border-top-left-radius: 84px;
    border-top-right-radius: 84px;
    border-top: 2px solid rgba(158, 195, 210, 0.231);
}

@keyframes hide-show-border {
    0% {
        border-top: 2px solid rgb(158 195 210);
    }

    100% {
        border-top: 2px solid rgba(158, 195, 210, 0.231);
    }
}

.signal-1 {
    width: 250px;
    animation: 1s infinite alternate 1s hide-show-border;
}

.signal-2 {
    width: 260px;
    animation: 1s infinite alternate 2s hide-show-border;
}

.signal-3 {
    width: 300px;
    animation: 1s infinite alternate 2.5s hide-show-border;
}