@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(60, 60, 60);
}

.title {
    padding-top: 40px;
    text-align: center;
    font-family: 'Koulen', cursive;
    letter-spacing: 10px;
    color: rgb(232, 232, 232);
    font-size: 55px;
}

.container {
    margin-top: 100px;
}

.computer {
    width: 100%;
    margin: auto;
}

.case {
    margin: auto;
    width: 275px;
    height: 160px;
    border-radius: 10px;
    position: relative;
    top: -160px;
    background-color: rgb(168, 166, 166);
}

.computer:hover {
    cursor: pointer;
}

.computer:hover .case {
    transform: translateY(-23px) rotate3d(1, 0, 0, 45deg);
    transition: all ease-in-out 1s;
}

.logo {
    color: rgb(85, 85, 85);
    float: left;
    font-size: 50px;
    font-family: 'Koulen', cursive;
    width: 100%;
    line-height: 160px;
    text-align: center;
    animation: 2s infinite alternate logo-blink;
}

@keyframes logo-blink {
    0% {
        color: rgb(85, 85, 85);
    }

    100% {
        color: white;
        text-shadow: 0 0 20px #fff, 0 0 20px #4d62ff, 0 0 30px #4d62ff, 0 0 40px #4d62ff, 0 0 50px #4d62ff, 0 0 60px #4d62ff, 0 0 70px #4d62ff;
    }
}

.computer:hover .logo {
    animation: none;
    color: rgb(255, 253, 253);
    text-shadow: 0 0 20px #fff, 0 0 20px #4d62ff, 0 0 30px #4d62ff, 0 0 40px #4d62ff, 0 0 50px #4d62ff, 0 0 60px #4d62ff, 0 0 70px #4d62ff;
    transition: all ease-in-out 1s;
}

.keyboard {
    margin: auto;
    width: 275px;
    height: 160px;
    border-radius: 10px;
    background-color: rgb(138, 138, 138);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.keyboard .trackpad {
    width: 70px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
    position: relative;
    top: calc(100% - 55px);
}

.computer:hover .folder-row {
    opacity: 1;
    top: 0;
    transition: all ease-in-out 1s;
}

.computer:hover .folder {
    width: 150px;
    transition: all ease-in-out 1s;
}

.computer:hover .folder-body {
    height: 70px;
    font-size: 24px;
    transition: all ease-in-out 1s;
}

.folder-row {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -250px;
    opacity: 0;
}

@keyframes folder-move {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.folder:hover {
    animation: 0.2s folder-move;
}

.folder {
    height: 80px;
    width: 100px;
}

.folder .folder-top {
    width: 50px;
    height: 10px;
    position: relative;
    left: -25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #dcce6f;
    margin: auto;
}

.folder .folder-body {
    display: block;
    height: 0px;
    width: 100px;
    background-color: #dcce6f;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 0px;
    line-height: 80px;
    margin: auto;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    text-decoration: none;
    color: black;
}