.App-Nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    font-size: 20px;
    /*border-bottom: 1px solid;*/
}

.App-Menu-Btn {
    position: fixed;
    padding: 20px;
    cursor: pointer;
    z-index: 1;
}

.App-Content-Wrapper {
    background-color: var(--white);
    transform-origin: top;
    transition: 1s all ease-in-out;
}

.App-Content-Wrapper.Rotated {
    transform: rotate3d(1, 0.5, 0, 25deg) translateX(135px) translateY(-50px);
}

.App-Nav a {
    align-self: flex-start;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--black);
}

.App-Nav a.App-Nav-Active {
    border-bottom: 1px solid;
}

#AvatarSurpriseSvg {
    max-width: 80vw;
    max-height: 80vh;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

#Text {
    opacity: 0;
    transform-origin: center;
    transform: scale(0);
    animation: unvanish 3s ease 0s forwards;
}

@keyframes unvanish {
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .App-Nav {
        font-size: 24px;
        height: 80px;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .App-Nav {
        font-size: 32px;
        height: 100px;
    }
}