@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body {
  background: rgb(38,52,75);
  background: linear-gradient(180deg, rgba(38,52,75,1) 0%, rgba(17,34,61,1) 70%, rgba(0,0,0,1) 100%);
}